<%- include('header') %>

<br/>
<nav class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><%= tournament.title %></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">

            <li class="active"><a href="#">Add player</a></li>
            <li><a href="/<%= tournamentHash %>/listPlayers">Players list</a></li>
            <li><a href="/<%= tournamentHash %>/listPlayersGroups">Game board</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <% if (isLogin) { %>
            <li><a href="/logout">Log out</a></li>
            <% } %>
            <% if (!isLogin) { %>
            <li><a href="/login">Log in</a></li>
            <% } %>
        </ul>
    </div>
</nav>

<div class="row">
    <form action="/<%= tournamentHash %>/addPlayer" method="post">
        <div class="form-group col-xs-4">
            <label for="firstName" >first name</label>
            <br/>
            <input id="firstName" type="text" name="firstName" class="form-control"><br/>
            <label for="lastName">last name</label>
            <br/>
            <input id="lastName" type="text" name="lastName" class="form-control">
            <br/>
            <div class="pull-left">
                <a href="/<%= tournamentHash %>/listPlayers" class="btn btn-danger">Back</a>
            </div>
            <div class="pull-right">
                <input type="submit" value="go" class="btn btn-success ">
            </div>
        </div>
    </form>
</div>
<%- include('footer') %>