<%- include('header') %>


<br/>
<nav class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><%= tournament.title %></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">

            <% if (isEditMode) { %>
            <li><a href="/<%= tournamentHash %>/addPlayer">Add player</a></li>
            <% } %>

            <li><a href="/<%= tournamentHash %>/listPlayers">Players list</a></li>
            <li><a href="/<%= tournamentHash %>/listPlayersGroups">Game board</a></li>
            <li class="active"><a href="#">Enter results</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <% if (isLogin) { %>
            <li><a href="/logout">Log out</a></li>
            <% } %>
            <% if (!isLogin) { %>
            <li><a href="/login">Log in</a></li>
            <% } %>
        </ul>
    </div>
</nav>


<div class="row">
    <form action="/<%= tournamentHash %>/enterResult" method="post">
        <div class="form-group col-xs-4">
            <label for="teamA" ><%= teamA.firstName %> <%= teamA.lastName %><span id="scoreTeamA"></span></label>
            <br/>
            <input type="hidden" name="teamAId" value="<%= teamA.id %>">
            <input id="teamA" name="teamA" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="13" data-slider-step="1" data-slider-value="0"/><br/><br/>
            <label for="teamB"><%= teamB.firstName %> <%= teamB.lastName %><span id="scoreTeamB"></span></label>
            <br/>
            <input type="hidden" name="teamBId" value="<%= teamB.id %>">
            <input id="teamB" name="teamB" data-slider-id='ex2Slider' type="text" data-slider-min="0" data-slider-max="13" data-slider-step="1" data-slider-value="0"/><br/>
            <br/>
            <div class="pull-left">
                <a href="/<%= tournamentHash %>/listPlayersGroups" class="btn btn-danger">Back</a>
            </div>
            <div class="pull-right">
                <input type="submit" value="go"  class="btn btn-success">
            </div>
        </div>
    </form>
</div>
<script>

$('#teamA').slider({
    formatter: function(value) {
        $('#scoreTeamA').html('(' + value + ')');
        return 'Current value: ' + value;
    }
});

$('#teamB').slider({
    formatter: function(value) {
        $('#scoreTeamB').html('(' + value + ')');
        return 'Current value: ' + value;
    }
});

</script>
<%- include('footer') %>