<%- include('header') %>
<h2>Game board</h2>
<div class="bg-danger"><%= errorMessage %></div>

<a href="/<%= tournamentHash %>/listPlayers" class="btn btn-info">&lt;&lt; to the people table</a></br></br>

<div class="row border1">
<% groups.forEach(function(group, key) { %>

    <% if (isEditMode) { %>
    <a href="/<%= tournamentHash %>/enterResult?teamAId=<%= group.teamsIds[0] %>&teamBId=<%= group.teamsIds[1] %>">
    <% } %>
    <div class="col-sm-4 rounded text-center">
        <span class="clearfix">Field #<%= key+1 %></span>
        <span class="rounded-no-border <%= ((group.persons[0].isWinner) ? 'bg-success' : '') %> <%= ((group.persons[0].isLooser) ? 'bg-danger' : '') %>">
            <%= group.persons[0].firstName %> <%= group.persons[0].lastName[0] %>. <%= group.persons[0].pointsString %>
        </span>
        VS
        <span class="rounded-no-border <%= ((group.persons[1].isWinner) ? 'bg-success' : '') %> <%= ((group.persons[1].isLooser) ? 'bg-danger' : '') %>">
            <%= group.persons[1].firstName %> <%= group.persons[1].lastName[0] %>. <%= group.persons[1].pointsString %>
        </span>
    </div>
    <% if (isEditMode) { %>
    </a>
    <% } %>

<% }); %>

</div>
<%- include('footer') %>