<%- include('header') %>

<br/>
<nav class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><%= tournament.title %></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">

            <% if (isEditMode) { %>
            <li><a href="/<%= tournamentHash %>/addPlayer">Add player</a></li>
            <% } %>

            <li class="active"><a href="#">Players list</a></li>
            <li><a href="/<%= tournamentHash %>/listPlayersGroups">Game board</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <% if (isLogin) { %>
            <li><a href="/logout">Log out</a></li>
            <% } %>
            <% if (!isLogin) { %>
            <li><a href="/login">Log in</a></li>
            <% } %>
        </ul>
    </div>
</nav>



<br/>
<br/>

<table class="table table-striped">
<thead>
<tr>
    <th>place</th>
    <% if (isSuperEdit) { %>
    <th>action</th>
    <% } %>
    <th>firstName lastName</th>
    <th>wins</th>
    <th>buhgolts</th>
    <th>points</th>
    <th>games played</th>
    <% for(var i = 0; i < gamePlayed; i++) { %>
        <th>Game <%= i+1 %> result</th>
    <% } %>
</tr>
</thead>
<tbody class="table-striped">
<% people.forEach(function(person, num) { %>
<tr>

    <td><%= num+1 %></td>
    <% if (isSuperEdit) { %>
        <td><a href="/<%= tournamentHash %>/deletePlayer/<%= person.id %>" class="btn btn-danger">delete</a></td>
    <% } %>
    <td style="position: relative; height: 37px;">

        <% if (isEditMode) { %>
        <a href="/<%= tournamentHash %>/editPlayer/<%= person.id %>">
        <% } %>
        <% if (false && person.image) { %>
            <img src="/static/<%= person.image %>" class="img-circle" style="position: absolute; top: -10px; <% if (num % 2 == 1) { %> left: 10px; <% } else { %> left: -25px; <% } %> width: 50px; height: 50px; z-index: 9000; border: 4px solid <%= person.color %>; box-shadow: 0 0 0 1px hsl(0, 0%, 80%);">
        <% } else { %>
            <div style="position: absolute; top: -10px; <% if (num % 2 == 1) { %> left: 10px; <% } else { %> left: -25px; <% } %> width: 50px; height: 50px; z-index: 9000; border: 4px solid <%= person.color %>; box-shadow: 0 0 0 1px hsl(0, 0%, 80%); border-radius: 90px; font-size: 30px; background: #EEEEEE; text-align: center;">
                <div style="width: 30px; height: 30px; margin: 3px 0 0 6px;">
                <%- person.icon %>
                </div>
            </div>
        <% } %>

        <% if (isEditMode) { %>
        </a>
        <% } %>
        <div style="padding-left:55px; white-space: nowrap ;">
            <%= person.firstName %> <%= person.lastName %>
        </div>
    </td>
    <td><%= person.wins %></td>
    <td><%= person.buhgolts %></td>
    <td><%= person.points %></td>
    <td><%= person.gamesResults.length %></td>

    <% person.gamesResults.forEach(function(gameResult) { %>
    <td class="text-<%= (gameResult.points - gameResult.opponentPoints) > 0 ? 'success' : 'danger' %>" style="white-space: nowrap ;"> <span data-toggle="tooltip" data-placement="top" title="<%= gameResult.opponentFirstName %> <%= gameResult.opponentLastName %>"> <%= gameResult.points %>/<%= gameResult.opponentPoints %> (<%= (((gameResult.points - gameResult.opponentPoints) > 0) ? '+':'') + (gameResult.points - gameResult.opponentPoints) %>)</span></td>
    <% }); %>

    <% for(var i = 0; i < gamePlayed - person.gamesResults.length; i++) { %>
        <td></td>
    <% } %>


</tr>
<% }); %>
</tbody>
</table>
<% if (isEditMode) { %>
    <a
        href="/<%= tournamentHash %>/random"
        class="btn btn-warning"
        <% if (!allGamesScored) { %>
            onClick="return confirm('Not all games have scores. Do you want to continue ?'); "
        <% }; %>
    >Start game with shuffle users</a>
<% } %>
<%- include('footer') %>