<%- include('header') %>

</br>
<nav class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><%= tournament.title %></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">

            <% if (isEditMode) { %>
            <li><a href="/<%= tournamentHash %>/addPlayer">Add player</a></li>
            <% } %>

            <li><a href="/<%= tournamentHash %>/listPlayers">Players list</a></li>
            <li class="active"><a href="#">Game board</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <% if (isLogin) { %>
            <li><a href="/logout">Log out</a></li>
            <% } %>
            <% if (!isLogin) { %>
            <li><a href="/login">Log in</a></li>
            <% } %>
        </ul>
    </div>
</nav>

<div class="bg-danger"><%= errorMessage %></div>


<div class="row border1">
<% groups.forEach(function(group, key) { %>

    <% if (isEditMode) { %>
    <a href="/<%= tournamentHash %>/enterResult?teamAId=<%= group.teamsIds[0] %>&teamBId=<%= group.teamsIds[1] %>">
    <% } %>
    <div class="col-sm-4 rounded text-center">
        <span class="clearfix">Field #<%= key+1 %></span>
        <span class="rounded-no-border <%= ((group.persons[0].isWinner) ? 'bg-success' : '') %> <%= ((group.persons[0].isLooser) ? 'bg-danger' : '') %>">
            <%= group.persons[0].firstName %> <%= group.persons[0].lastName[0] %>. <%= group.persons[0].pointsString %>
        </span>
        VS
        <span class="rounded-no-border <%= ((group.persons[1].isWinner) ? 'bg-success' : '') %> <%= ((group.persons[1].isLooser) ? 'bg-danger' : '') %>">
            <%= group.persons[1].firstName %> <%= group.persons[1].lastName[0] %>. <%= group.persons[1].pointsString %>
        </span>
    </div>
    <% if (isEditMode) { %>
    </a>
    <% } %>

<% }); %>

</div>
<%- include('footer') %>